<ion-header>
  <ion-toolbar>
    <ion-title>
      Ionic Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

    <!-- <ion-fab vertical="top" horizontal="end" slot="fixed">
      <ion-fab-button (click)="modal()">
        <ion-icon name="add"></ion-icon>
      </ion-fab-button>
    </ion-fab>

  <ion-card class="ion-padding" *ngFor="let item of myArray" color="{{calcularcolor(item.edad)}}"><!- color="{{item.color}}" ->
    {{item.name}}
    {{item.edad}} ->
    <small *ngIf="item.edad > 11">Mayor de 10 años</small>
  </ion-card> -->

  
  <ion-card id="CardCentered">
    
    
    <ion-list text-center>
      
      <ion-item>
        <ion-label floating>
          <ion-icon name="mail"></ion-icon>
          Mensaje
        </ion-label>
        <ion-input [(ngModel)]="Palabra" id='Palabras'></ion-input>
      </ion-item>
    
      <!-- <ion-item>
        <ion-label floating>
          <ion-icon name="key"></ion-icon>
          Password
        </ion-label>
        <ion-input type="password"></ion-input>
      </ion-item> -->
      
      <button ion-button
      (click) = "MostrarModal($event)">
        Modal
      </button>
    </ion-list>

    
  </ion-card>
</ion-content>
